.form .input-group {
  width: 600px;
  margin: 0 auto;
}

.form input {
  height: 37px;
  padding: 10px;
}

.form input[type="text"] {
  width: 45%;
  outline: none;
  border: 1px solid #ced4da;
}

.form input[type="date"] {
  width: 10%;
}

.form button {
  position: relative;
  top: -2px;
  border-radius: 0px;
}

.list-group-item {
  font-size: 12px;
}